* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Crimson Pro", serif;
}

body {
	background-color: #1c253b;
	background-image: url(../img/background.svg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.card {
	max-width: 450px;
	margin: 0 auto; /* Center the card horizontally */
	padding: 20px;
	border-radius: 15px;
	position: relative	;
	box-shadow: 0 0 60px #111a26;
	background-color: #f3f2ff;
	transform: translate(50%, 5%); /* Move the card 50% from the left and 50% from the top */
	top: 125%;
	left: 0; /* Adjust as needed */
  }

  .card2 {
	max-width: 450px;
	margin: 0 auto; /* Center the card horizontally */
	padding: 20px;
	border-radius: 15px;
	position: relative	;
	box-shadow: 0 0 60px #111a26;
	background-color: #f3f2ff;
	transform: translate(-55%, -203%); /* Move the card 50% from the left and 50% from the top */
	top: 13%;
	left: 30; /* Adjust as needed */
  }

.card-header {
	text-align: center;
	margin-top: 20px;
}

.card-header h1 {
	width: 200px;
	margin: auto;
	font-size: 30px;
	color: #333;
	border-bottom: 1.5px solid #33384f;
	padding-bottom: 8px;
}

.card-header span {
	font-size: 15px;
	line-height: 30px;
	color: #333;
}

.card-body {
	margin-top: 20px;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.form-control,
.form-control-name {
	display: flex;
	justify-content: center;
	margin: 3 auto;
	position: relative;
	margin-bottom: 10px;
}

.form-control i,
.form-control-name i {
	font-size: 20px;
	margin: auto 0;
	margin-right: 9px;
}

.form-control .bx-hide,
.form-control .bx-show {
	position: absolute;
	top: 9px;
	right: 5px;
	cursor: pointer;
}

.form-control .bx-show {
	color: #de581b;
}

.form-control-name input {
	width: 130px;
	padding: 10px;
	padding-left: 15px;
	border: 1px solid #33384f;
	border-radius: 20px;
	margin-right: 10px;
}

.form-control-name input:last-child {
	margin-right: 0px;
}

.form-control input {
	width: 270px;
	padding: 10px;
	padding-left: 15px;
	border: 1px solid #33384f;
	border-radius: 20px;
}

.form-control select {
	width: 270px;
	padding: 10px;
	padding-left: 15px;
	border: 1px solid #33384f;
	border-radius: 20px;
}

.form-control select option {
	padding: 10px;
}

.error {
	margin: 0 auto;
	color: red;
	font-size: 12px;
	margin: 2px 0 8px 90px;
	display: flex;
	visibility: visible;
}

.error i {
	margin-right: 5px;
}

.erroricon {
	visibility: hidden;
}

.btn {
	display: flex;
	justify-content: center;
	margin: 60px auto;
	margin-bottom: 0px;
	width: 300px;
	margin-top:30px ;
}

.reset input {
	width: 90px;
	margin-right: 10px;
	padding: 10px;
	border: 1px solid #33384f;
	border-radius: 20px;
	cursor: pointer;
	font-size: 16px;
	background-color: #1c253b;
	color: #f3f2ff;
	font-weight: 500px;
}

.reset input:hover {
	background-color: #ddddfc;
}

@media screen and (max-width: 768px) {
    .card,
    .card2 {
        max-width: 90%;
        transform: none;
        top: 0;
        left: 0;
        margin-top: 20px;
    }
}